.promo {
  color: white;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__header {
  border: 1px solid red;
  text-align: center;
}

.promo__book {
  text-align: center;
}

.promo__link {
  color: white;
}
